{% extends 'base.html.twig' %}

{% block title %} Добавить автора {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="content">
            <div class="title text-center h1 pb-5 pt-5">
                Добавить автора
            </div>
            {{ form_start(newAuthor) }}
            <div class="form-row">
                <div class="col">
                    {{ form_widget(newAuthor.Name, {'attr': {'placeholder': '  Имя'}}) }}
                    {{ form_errors(newAuthor.Name) }}
                </div>
                <div class="col">
                    {{ form_widget(newAuthor.Surname, {'attr': {'placeholder': '  Фамилия'}}) }}
                    {{ form_errors(newAuthor.Surname) }}
                </div>
            </div> 
            {{ form_widget(newAuthor) }}
            <button type="submit" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">Добавить</button>
            {{ form_end(newAuthor) }}
            <a href="{{ path('mainPage') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">К списку авторов</a>
        </div>
    </div>
{% endblock %}

