{% extends 'base.html.twig' %}

{% block title %} {{ author.name }} {{ author.surname }} {% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="content">
        <div class="title text-center h1 pb-5 pt-5">
            {{ author.name }} {{ author.surname }}
        </div>
        <ul class="list-group">
            {% for book in author.books %}
                <li class="list-group-item"> 
                    {{ book.title }}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('mainPage') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">К списку авторов</a>
    </div>
</div>
{% endblock %}

