{% extends 'base.html.twig' %}

{% block title %} {{ book.title }} {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="content w-50">
            <div class="title text-center h4 pb-1">
                Изменить название книги: {{ book.title }}
            </div>

            {{ form_start(editBook, {'action': path('editTitleBook'), 'method': 'POST'}) }}
            <div class="alert bg-light border border-primary rounded-pill" role="alert">
                <div class="row">
                    <div class="col align-middle">
                        {{ form_widget(editBook.title, {'attr': {'placeholder': ' Название книги', 'value': book.title, 'size': '50'}}) }}
                        {{ form_errors(editBook.title) }}
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </div>
            </div>
            {{ form_widget(editBook.author, {'attr': {'value': book.author.id}}) }}
            {{ form_widget(editBook.id, {'attr': {'value': book.id}}) }}
            {{ form_end(editBook) }}

            <a href="{{ path('mainPage') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">К списку авторов</a>
        </div>
    </div>
{% endblock %}

