{% extends 'base.html.twig' %}

{% block title %} {{ author.name }} {{ author.surname }} {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="content w-50">
            <div class="title text-center h1 pb-5 pt-5">
                {{ author.name }} {{ author.surname }}
            </div>
            <div class="title text-center h4 pb-1">
                Список книг:
            </div>

            {% for book in author.books %}

                <div class="alert bg-light border border-primary rounded-pill" role="alert">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col align-middle">
                                    {{ book.title }}
                                </div>
                                <div class="col-2">
                                    <a href="{{ path('editBook', {'id': book.id}) }}" class="btn btn-primary">
                                        Изменить
                                    </a>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-1">
                            <a href="{{ path('deleteBook', {'id': book.id}) }}" type="button" class="btn btn-outline-success btn-sm">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
                <div class="alert alert-success " role="alert">
                    <div class="row">
                        <div class="col">
                            {{ form_start(AddBook, {'action': path('AddBook'), 'method': 'POST'}) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(AddBook.title, {'attr': {'placeholder': ' Название книги', 'size': '50'}}) }}
                                    {{ form_errors(AddBook.title) }}
                                </div>
                                <div class="col-3">
                                    <button type="submit" class="btn btn-primary mb-2">Добавить книгу</button>
                                        {{ ValidErrors }}
                                </div>
                            </div>
                            {{ form_widget(AddBook.author, {'attr': {'value': author.id}}) }}
                            {{ form_end(AddBook) }} 
                        </div>
                    </div>
                </div>     
            {% endif %}

            <a href="{{ path('mainPage') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">К списку авторов</a>
        </div>
    </div>
{% endblock %}

