{% extends 'base.html.twig' %}

{% block title %} Список авторов {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="content w-50">
            <div class="title text-center h1 pb-5 pt-5">
                Список авторов
            </div>

            {% for author in authors %}
                <div class="alert bg-light border border-primary rounded-pill" role="alert">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ author.name }} {{ author.surname }}
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-3 text-center">
                                        <a href="{{ path('author', {'id': author.id}) }}" class="btn btn-outline-dark btn-sm">
                                            Редактировать
                                        </a>
                                    </div>
                                {% endif %}
                            </div>                       
                        </div>
                        <div class="col-2 text-center">
                            <a href="{{ path('books', {'id': author.id}) }}" class="btn btn-outline-success btn-sm">
                                Список книг
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('newAuthorPage') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">Добавить автора</a>
            {% endif %}

            {% if (is_granted('IS_AUTHENTICATED_FULLY')==false) %}
                <a href="{{ path('login') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">Войти</a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('logout') }}" id="btn-exit" class="btn btn-outline-info btn-lg btn-block mt-2" role="button" aria-pressed="true">Выход</a>
            {% endif %}

        </div>
    </div>
{% endblock %}

